# Configuration file for the RSS Feed extension.
#
# The feeds will be accessible at the following urls:
#
# RSS:
#    Site:         <yoursite>/rss/feed.(xml|rss)
#    ContentType:  <yoursite>/contenttype/rss/feed.(xml|rss)
#
# JSON:
#    Site:         <yoursite>/json/feed.json
#    ContentType:  <yoursite>/contenttype/json/feed.json
#
# ATOM:
#    Site:         <yoursite>/atom/feed.(xml|atom)
#    ContentType:  <yoursite>/contenttype/atom/feed.(xml|atom)
#

# This extension publishes feeds in different formats. You can select which ones you'd like.
feeds:
    rss: true
    json: true
    atom: true

# Autodiscovery allows Feed aggregators to find your feeds more easily.
autodiscovery: true

# Block structure
# ---------------
#
# Feeds for different contenttypes can have different options. This also is the case for the 'site wide' feed, which is
# used most commonly.
#
# contenttype:
#     enabled:       (true|false)
#     feed_records:   <int>
#     feed_template:  <template name>
#     content_length: <int>
#     contenttypes:   <array> (sitewide only)
#
# enabled:        When set to false, returns a 404 on request
# feed_records:   Number of records to provide in the feed
# feed_template:  RSS template to use
# atom_template:  ATOM template to use
# content_length: Number of characters in the content. If set to '0', the
#                 content will not be trimmed, and HTML (links, markup, etc)
#                 will be kept intact
# contenttypes:   ContentTypes for which to enable the feed for

# Site-wide example
# -----------------
sitewide:
    enabled: true
    feed_records: 10
    feed_template: rss.twig
    atom_template: atom.twig
    content_length: 0
    content_types: [ entries, pages ]

# ContentType specific examples
# -----------------------------
#pages:
#    enabled: true
#    feed_records: 10
#    feed_template: rss.twig
#    atom_template: atom.twig
#    content_length: 0

#entries:
#    enabled: false
#    feed_records: 1
#    feed_template: rss.twig
#    atom_template: atom.twig
#    content_length: 400
